<div id="home">
    <p>
        Enter the title of a Wikipedia page to view all of the linked keywords from that page
    </p>
    <form>
        <fieldset>
            <p>
                <input type="text" name="search" id="search">
                <input type="button" id="get-results" value="Get Results">
            </p>
        </fieldset>
    </form>
</div>

<div id="results-div">

    <span id="results-search"></span>

</div>

<script src="/js/script.js"></script>