<div id="home">
    <p>
        Enter the title of a Wikipedia page to view all of the linked keywords from that page
    </p>
    <form>
        <fieldset>
            <p>
                <input type="text" name="search" id="search">
                <input type="button" id="get-results" value="Get Results">
                {{!-- <input type="button" value="Submit" class="button_active"/> --}}
            </p>
        </fieldset>
    </form>
</div>

<div id="results-div">
    {{!-- <p id="results-title">Results:</p> --}}
    {{!-- <ul id="results"></ul> --}}
    <span id="results-search">

    </span>

</div>

<script src="/js/script.js"></script>