/* #page-wrap { */
    /* width: 1000px; */
    /* height: 1000px; */
    /* height: 1250px; */
    /* overflow: auto; */

    /* height: 1200px;
    width: auto;
    margin: 0 auto; */
/* } */

#page-wrap {
    min-height: 100vh;
    margin: 0 auto;
}

body {
    background-color:rgb(224, 224, 224);
}

input {
    font: 17px;
}

#menu {
    background-color: rgba(64, 119, 141, 0.863);
    overflow: hidden;
}

#menu span{
    float: left;
    color: #e1f2fa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#menu span:active {
    background-color: #2b6d94;
    color: white;
}

table {
    border: 1px solid rgb(4, 24, 46);
    ;
    border-collapse: collapse;
}

#home {
    margin: auto;
    width: 50%;
    padding: 100px 0;
}

#home p {
    color: rgba(64, 119, 141, 0.863);
    font-size: 17px;
}

#search {
    width: 83%;
    border: none;
}

#results-title {
    position: absolute;
    top: 22.5%;
    left: 15%;
    color: rgba(64, 119, 141, 0.863);
    font-size: 17px;
}

#results-title ul {
    color: rgba(64, 119, 141, 0.863);
    font-size: 15px;
}

#more-results {
    border: none;
}

#results-search-button {
    border: none;
}

#results-search-list {
    font-size: 15px;
}

#results-search {
    position: absolute;
    top: 298px;
    right: 150px;
    color: rgba(64, 119, 141, 0.863);
}
